*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 58.75em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 42.5em) {
    html {
      font-size: 52%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-size: 1.4rem; }

.container {
  display: flex;
  flex-direction: column; }

.btn {
  border: none;
  padding: .8rem 2rem;
  background-color: #3065f8;
  color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.35);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25); }
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.45); }

input {
  outline: none;
  padding: 0 1rem;
  font-size: 1.4rem; }

@media only screen and (max-width: 58.75em) {
  .logo-fylo {
    width: 60%; } }

@media only screen and (max-width: 42.5em) {
  .logo-fylo {
    width: 40%; } }

.earlyaccess {
  padding: 6rem 5rem;
  background-color: #585989;
  display: grid;
  grid-template-columns: 50% 1fr;
  justify-items: end;
  align-items: stretch;
  grid-gap: 3rem; }
  @media only screen and (max-width: 42.5em) {
    .earlyaccess {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
      padding: 4rem;
      text-align: center; } }
  .earlyaccess__text {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; }
    @media only screen and (max-width: 42.5em) {
      .earlyaccess__text {
        grid-row: 1/2; } }
    .earlyaccess__text > * {
      margin-bottom: 2rem; }
  .earlyaccess__input {
    grid-column: 2/-1;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-rows: repeat(2, 35%);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%; }
    @media only screen and (max-width: 42.5em) {
      .earlyaccess__input {
        grid-row: 2/3;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(2, 4rem);
        grid-template-columns: 1fr;
        justify-items: center; } }
    .earlyaccess__input > input, .earlyaccess__input button {
      grid-column: 1 / -1;
      width: 80%; }
      @media only screen and (max-width: 58.75em) {
        .earlyaccess__input > input, .earlyaccess__input button {
          width: 100%; } }
      @media only screen and (max-width: 42.5em) {
        .earlyaccess__input > input, .earlyaccess__input button {
          width: 80%; } }
    .earlyaccess__input > button {
      justify-self: start;
      width: auto; }
      @media only screen and (max-width: 42.5em) {
        .earlyaccess__input > button {
          width: 80%;
          justify-self: center; } }

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 42.5em) {
    .navbar {
      padding: 1rem 1.5rem; } }
  .navbar__logo {
    display: flex;
    align-items: center; }
    .navbar__logo img.logo {
      height: 100%;
      display: block; }
  .navbar__links {
    display: flex; }
    .navbar__links--item:link, .navbar__links--item:visited {
      display: block;
      padding: 1rem 3rem;
      font-size: 1.8rem;
      transition: all .2s;
      white-space: nowrap; }
      @media only screen and (max-width: 42.5em) {
        .navbar__links--item:link, .navbar__links--item:visited {
          padding: 1rem 1.5rem; } }
    .navbar__links--item:hover {
      transform: translateY(-3px); }
    .navbar__links--item:active {
      transform: translateY(1px); }

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 1fr;
  justify-items: end;
  align-items: stretch;
  padding-bottom: 6rem; }
  @media only screen and (max-width: 58.75em) {
    .header {
      grid-template-columns: 70% 1fr; } }
  @media only screen and (max-width: 42.5em) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: min-content max-content;
      padding-bottom: 2rem; } }
  .header__text {
    padding: 5rem;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    @media only screen and (max-width: 42.5em) {
      .header__text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
        padding: 2rem; } }
    .header__text > * {
      margin-bottom: 2rem; }
    .header__text--input {
      width: 100%;
      display: grid;
      grid-template-columns: [input-start] 50% [input-end btn-start] 30% [btn-end];
      grid-gap: 2rem; }
      @media only screen and (max-width: 42.5em) {
        .header__text--input {
          display: grid;
          grid-template-rows: repeat(2, 4rem);
          grid-template-columns: 1fr;
          justify-items: center; } }
      @media only screen and (max-width: 42.5em) {
        .header__text--input > input {
          grid-row: 1/2;
          width: 80%; } }
      @media only screen and (max-width: 42.5em) {
        .header__text--input > button {
          grid-row: 2/3;
          width: 80%; } }
  .header__img {
    justify-self: center;
    align-self: center;
    grid-column: 2/3; }
    @media only screen and (max-width: 42.5em) {
      .header__img {
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
    .header__img--item {
      width: 100%; }
      @media only screen and (max-width: 42.5em) {
        .header__img--item {
          width: 70%;
          margin: 3rem auto;
          display: block; } }

.footer {
  background-color: #070439;
  color: #fff;
  padding: 6rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content max-content max-content;
  grid-gap: 2rem;
  justify-items: center; }
  @media only screen and (max-width: 58.75em) {
    .footer {
      grid-gap: .5rem; } }
  @media only screen and (max-width: 42.5em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, max-content);
      padding: 3rem;
      grid-gap: 4rem;
      justify-items: start; } }
  .footer__logo {
    grid-row: 1 / 2;
    grid-column: 1/2;
    filter: brightness(0) invert(1);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 42.5em) {
      .footer__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 80%; } }
  .footer__col {
    grid-row: 2/3;
    display: flex;
    flex-direction: column; }
    .footer__col > a {
      color: #fff;
      margin-bottom: 1.5rem;
      transition: all .2s; }
    .footer__col > a:visited {
      color: #fff;
      margin-bottom: 1.5rem; }
    .footer__col > a:hover {
      transform: translateY(-3px); }
    .footer__col > a:active {
      transform: translateY(1px); }
    .footer__col--1 {
      grid-column: 1/2;
      display: grid;
      grid-template-columns: min-content max-content;
      grid-template-rows: repeat(2, min-content);
      grid-column-gap: 1rem; }
      @media only screen and (max-width: 42.5em) {
        .footer__col--1 {
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
    .footer__col--2 {
      grid-column: 2/3; }
      @media only screen and (max-width: 42.5em) {
        .footer__col--2 {
          grid-column: 1 / 2;
          grid-row: 3 / 4; } }
    .footer__col--3 {
      grid-column: 3/4; }
      @media only screen and (max-width: 42.5em) {
        .footer__col--3 {
          grid-column: 1 / 2;
          grid-row: 4 / 5; } }
    .footer__col--4 {
      grid-column: 4/5;
      display: flex;
      flex-direction: row; }
      @media only screen and (max-width: 42.5em) {
        .footer__col--4 {
          grid-column: 1 / 2;
          grid-row: 5 / 6;
          justify-self: center; } }
      .footer__col--4 .social {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        margin-right: 1.5rem;
        padding: 1rem;
        border-radius: 50%;
        border: 1px solid #fff;
        color: #fff; }
  .footer .attribution {
    padding: 2rem;
    grid-row: 3/4;
    grid-column: 1 /-1;
    color: #fff;
    width: 100%;
    text-align: center; }
    .footer .attribution > a:link, .footer .attribution a:visited {
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: all .2s; }
    .footer .attribution > a:hover {
      border-bottom: 1px solid #585989; }
    @media only screen and (max-width: 42.5em) {
      .footer .attribution {
        grid-column: 1 / 2;
        grid-row: 6 / 7; } }

.curved-bg {
  content: url(../images/bg-curve-desktop.svg);
  width: 100%; }
  @media only screen and (max-width: 42.5em) {
    .curved-bg {
      content: url(../images/bg-curve-mobile.svg); } }

.testimonial {
  padding: 6rem 5rem;
  background-color: #f6f6fe;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
  align-items: stretch;
  grid-gap: 3rem; }
  @media only screen and (max-width: 58.75em) {
    .testimonial {
      grid-template-columns: 70% 1fr; } }
  @media only screen and (max-width: 42.5em) {
    .testimonial {
      grid-template-columns: 1fr;
      grid-template-rows: min-content max-content max-content;
      padding: 2rem 2rem 0 2rem; } }
  .testimonial__text {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .testimonial__text > * {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 42.5em) {
      .testimonial__text {
        grid-row: 2/3;
        display: flex;
        align-items: center; } }
  .testimonial .userquote {
    width: 65%;
    background-color: #fff;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
    border-radius: 5px;
    margin-top: 2rem; }
    @media only screen and (max-width: 42.5em) {
      .testimonial .userquote {
        width: 80%; } }
    .testimonial .userquote > * {
      margin-bottom: 1rem; }
    .testimonial .userquote .userinfo {
      display: flex;
      align-items: center; }
      .testimonial .userquote .userinfo__img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 1rem; }
  .testimonial__img {
    padding: 2rem;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 42.5em) {
      .testimonial__img {
        grid-column: 1/2;
        grid-row: 1/2; } }
    .testimonial__img--item {
      width: 100%; }
      @media only screen and (max-width: 42.5em) {
        .testimonial__img--item {
          width: 70%;
          margin: 3rem auto;
          display: block; } }

.heading-1 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.4; }

.heading-2 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.4; }

.heading-3 {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.4; }

p {
  font-size: 1.4rem; }

.link-green:link,
.link-green:visited {
  padding: 0 0 .5rem 0;
  border-bottom: 1px solid #3c9f8f;
  color: #3c9f8f;
  transition: all .2s; }
  .link-green:link:hover,
  .link-green:visited:hover {
    transform: translateY(-3px);
    border-bottom: 0.3rem solid #3c9f8f;
    padding: 0 0 .2rem 0; }
  .link-green:link:active,
  .link-green:visited:active {
    transform: translateY(1px);
    border-bottom: 1px solid #3c9f8f; }

.arrow-green {
  margin-left: .5rem;
  width: 2.2rem;
  height: 2.2rem;
  transform: translateY(20%); }

a {
  text-decoration: none; }
